# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# iOS
ios

# Android
android

utils/constants.ts

# Expo
.expo/
dist/
web-build/

.vscode/
.metro-cache/
.idea/




expo-env.d.ts

nativewind-env.d.ts

app-env.*s

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

app-example